/*Escolpo Principal*/
@font-face {
  font-family: 'Argentum';
  src: url(../Fontes/ArgentumSans-Thin.otf);
}
body{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Crimson Text", serif;
    z-index: 0;
}
body::-webkit-scrollbar:vertical{
  width: 0;
  background: transparent;
}
:root{
  --cor1: #19F4FA;
  --cor2: #061516;
}
.mensagem{
  margin-top: 220px;
  margin-left: 50%;
  font-family: 'Argentum', sans-serif;
  filter: drop-shadow(0 0 5px var(--cor1)) 
}
/*Impedir o usuário de clicar*/
.no-select{
  user-select: none;
  cursor: none;
}
/*classe para as sessões generalizando*/
#sessao1{
  background-color: var(--cor2);
  height: 100%;
  width: 100%;
  position: relative;
}

/*cursor modificado*/
#cursor{
  position: fixed;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--cor1);
  border-left: 5px solid var(--cor1);
  transform-origin: top;
  transform: rotate(15deg) translate(-1px, 5px);
  transition: transform 0.1s;
  pointer-events: none;
  filter: drop-shadow(0 0 5px var(--cor1)) 
   drop-shadow(0 0 10px var(--cor1))
   drop-shadow(0 0 15px var(--cor1));
}
#cursor::before{
  content: '';
  position: absolute;
  width: 5px;
  height: 30px;
  background-color: var(--cor1);
  transform-origin: top;
  transform: rotate(315deg);
  left: -2.5px;
}
.letras{
  position: absolute;
  color: var(--cor1);
  pointer-events: none;
  width: 10px;
  height: 10px;
  transform: translate(-50%,-50%);
  font-size: 2em;
  transition: 1s;
  font-family: 'Argentum', sans-serif;
  filter: drop-shadow(0 0 5px var(--cor1)) 
   drop-shadow(0 0 25px var(--cor1))
   drop-shadow(0 0 35px var(--cor1));
}
/*Palavra randômica*/
.text{
  position: absolute;
  color:var(--cor1);
  font-size: 25px;
  opacity: 0;
  transition: opacity 1s ease-in;
  text-shadow: 
   0 0 0.20em #FFF7,
   0 0 0.30em var(--cor1);
   user-select: none;
}
/*Texto do cabeçalho*/
.segundoTitulo{
  display:flex;
  justify-content: center;
  text-shadow: 
   0 0 0.20em #FFF7,
   0 0 0.30em var(--cor1);
   font-family: 'Argentum', sans-serif;
}
/*Título em neon*/
.titulo{
  font-family: 'Argentum', sans-serif;
  font-size: 4rem;
  border: var(--cor1) 0.090em solid;
  padding: 0.25em 1em;
  margin: 100px 240px 0px 450px;
  position: relative;
  border-radius: 025em;
  text-shadow: 
   0 0 0.20em #FFF7,
   0 0 0.30em var(--cor1);
   box-shadow: 
   inset 0 0 .5em var(--cor1), 
   0 0 .5em var(--cor1);
   z-index: 0;
}
.titulo::before{
  content: "";
  position: absolute;
  top: 140%;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--cor1);
  transform: 
   perspective(0.2em)
   rotateX(10deg)
   scale(1.3, 0.40);
   filter: blur(0.5em);
   opacity: 0.6;
}
.titulo::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--cor1);
  box-shadow: 0 0 .2em var(--cor1);
  z-index: -1;
  opacity: 0;
  border-radius: 025em;
}
.titulo:hover::after{
  opacity: 1;
}
.titulo:hover, .titulo:focus{
  color:white;
}
.titulo.hover::before{
  opacity: 0.8;
}
.piscar{
  animation: piscando 4s steps(5,start) infinite;
}
@keyframes piscando {
    0%, 80%, 84%, 97%{
      visibility: visible;
    }
    81%, 83%, 98%, 100% {
      visibility: hidden;
    }
}
/*plano de fundo de teste*/
.container{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: radial-gradient(ellipse,rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%),url('/imagens/motherboard.jpg');
}
/*Scroll em blocos*/
.scrollBlock{
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}
.transicao1{
  width: 100%;
  height: 500px;
  background: linear-gradient(var(--cor2),var(--cor2));
}
.block{
  background-color: var(--cor2);
  scroll-snap-align: start;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
/*sessão projetos*/
#sessao2{
  height: 100%;
  width: 100%;
  position: relative;
  background-image: linear-gradient(var(--cor2)30%,var(--cor1));
}
.liquido{
  height: max(300px, 30vw);
  width: 200%;
  background-color: var(--cor1);
  border-radius: 100%;
  position: absolute;
  left:50%;
  top:80%;
  animation: onda 2s infinite ease-in-out;
  opacity: 1;
  transition: opacity 2s ease-out;
  pointer-events: none;
}
.liquido.desaparecer{
  opacity: 0;
}
@keyframes onda{
   from, to {
    transform: translate(-50%,0%);
   }
   50%{
    transform: translate(-50%,-20%);
   }
}
.projetoContainer::-webkit-scrollbar{
  height: 16px;
}
::-webkit-scrollbar-thumb:horizontal{
  background: linear-gradient(to right, transparent, var(--cor2), transparent);
  border-radius: 6px;
}
.projetoContainer{
   display: flex;
   height: 85%;
   align-items: center;
   overflow-x: auto;
   white-space: nowrap;
   position: relative;
   z-index: 1;
}
.projeto{
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 350px;
  min-width: 25%;
  margin: 0px 4%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  animation: projetosAnimados 30s linear infinite;
  position: relative;
  overflow: hidden;
  animation-delay: calc((30s)* (var(--position)-1));
}
@keyframes projetosAnimados{
  from {
    left:-1%;
  }
  to {
    left: calc(200%*(-1));
  }
}
.projeto:hover{
  height: 385px;
}
.projetoTexto{
  width: 80%;
  margin: 5% 10% 0 10%;
  overflow: auto;
  height: 45%;
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
  font-size: 1.25rem;
}
.controlTitulo2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
}
.titulo2{
  align-items: center;
  font-family: "Crimson Text", serif;
  font-size: 100px;
  margin-top: 10%;
  color:transparent;
  -webkit-text-stroke: 1px var(--cor1);
  text-shadow: 
   0 0 0.30em var(--cor1);
  letter-spacing: 10px;
}
.projetoImg{
  height: 40%;
  width: 80%;
  margin: 5% 10% 0 10%;
  border-radius: 20%;
}
/*Sessão 3*/
.transicao2{
  width: 100%;
  height: 500px;
  background: linear-gradient(var(--cor1),var(--cor2)50%);
}
#sessao3{
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.barras{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.caixas{
  width: 33%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.barras h2{
  font-family: 'Argentum', sans-serif;
  font-size: 3em;
  filter: drop-shadow(0 0 5px var(--cor1));
   color: var(--cor1)
}
.caixas p{
  color: var(--cor1);
  text-align: center;
}
.cubo{
  transform-style: preserve-3d;
  position:relative;
  width: 200px;
  height: 200px;
}
.side{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.front.side{
  background-color: #85F9FA;
  transform: translateZ(100px);
}
.back.side{
  background-color: #43FABF;
  transform: translateZ(-100px);
}
.right.side{
  background-color: #43BDFA;
  transform: translateX(100px) rotateY(90deg);
}
.left.side{
  background-color: #43F7FA;
  transform: translateX(-100px) rotateY(-90deg);
}
.top.side{
  background-color: #43FA81;
  transform: translateY(-100px) rotateX(90deg);
}
.bottom.side{
  background-color: #4384FA;
  transform: translateY(100px) rotateX(-90deg);
}
@keyframes rotacaoCubo{
  0%{
    transform: rotateX(45deg) rotateY(45deg);
  }
  25%{
    transform: rotateX(-45deg) rotateY(45deg);
  }
  50%{
    transform: rotateX(-45deg) rotateY(-45deg);
  }
  75%{
    transform: rotateX(45deg) rotateY(-45deg);
  }
  100%{
    transform: rotateX(45deg) rotateY(45deg);
  }
}
.caixaCubo{
  animation: rotacaoCubo 20s infinite linear;
}
.caixas ul{
  box-shadow: 0 0 32px 0 var(--cor1);
  max-height: 250px;
  overflow-y: auto;
  border-radius: 5%;
}
.caixas ul li{
  position: relative;
  padding-left: 0;
  font-size: 1.5em;
  padding: 15px;
  color: var(--cor1);
}
ul::-webkit-scrollbar {
  width: 8px;
}
ul::-webkit-scrollbar-track {
  background-color: var(--cor1);
  border-radius: 6px;
}
ul::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, transparent, var(--cor2), transparent);
  border-radius: 6px;
}