@media only screen and (max-width: 600px){
   #foto{
    width: 100%;
    display: flex;
    justify-content: center;
   }
   #ident0{
    width: 200px;
    margin-right: 80px;
   }
   #cursor{
    display: none;
   }
   .mensagem{
    display: none;
   }
   .titulo{
    margin: 5px 5px 5px 0px;
    font-size: 2rem;
    text-align: center;
   }
   .segundoTitulo{
    margin-left: 10px;
   }
   .titulo2{
    font-size: 50px;
   }
   #sobreMim{
    font-size: 1rem;
   }
   .side{
    width: 100px;
    height: 100px;
   }
   .front.side{
    transform: translateZ(50px);
  }
  .back.side{
    transform: translateZ(-50px);
  }
  .right.side{
    transform: translateX(50px) rotateY(90deg);
  }
  .left.side{
    transform: translateX(-50px) rotateY(-90deg);
  }
  .top.side{
    transform: translateY(-50px) rotateX(90deg);
  }
  .bottom.side{
    transform: translateY(50px) rotateX(-90deg);
  }
  .ajuste{
    font-size: 0.8rem;
  }
  .cubo{
    width: 30%;
  }
  .caixas ul{
    width: 30%;
    box-shadow: 0 0 10px 0 var(--cor1);
  }
  .caixas ul li{
    font-size: 0.7rem;
    padding: 10px;
  }
  .barras{
    text-align: center;
  }
  .caixas{
    width: 30%;
  }
}